@import "/src/links.css";

:host {
  display: block;
}

.loading {
  position: relative;
}

.loading::after {
  content: '';
  width: 100%;
  display: block;
  animation: loading 2s infinite ease-in-out;
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--skeleton-border-radius, calc(16px / var(--elevation, 1)));
  background-size: 200%;
  background-position: 200%;
  background-image:
    linear-gradient(
      to right,
      var(--skeleton-gradient-start, black) 0%,
      var(--skeleton-gradient-start, black) 61%,
      var(--skeleton-gradient-end, lightgrey) 65%,
      var(--skeleton-gradient-start, black) 100%
    );
}

@keyframes loading {
  from { background-position-x: -200%; }
  to { background-position-x: 200%; }
}


a[href="null"],
a[href="undefined"] {
  display: none;
}