a[target="_blank"]::before {
  content: '🌐';
  margin-right: 4px;
  text-decoration: none;
}

a {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: lightgreen;
  text-decoration-thickness: 2px;
}

a {
  color: lightblue;
}

a:visited {
  color: lightgrey;
  text-decoration-color: lightgrey;
}

a[href="null"],
a[href="undefined"] {
  display: none;
}