:host {
  display: grid;
}

@media(min-width: 400px) {
  :host {
    padding: 12px 32px;
    width: calc(100% - 64px);
  }
}

* {
  position: relative;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

tr {
  height: 60px;
  position: relative;
}

th,
td {
  padding: 12px;
}

th a[href],
td a[href] {
  position: unset;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}

th a img,
td a img,
th a span,
td a span {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: auto;
}

th span,
td span {
  z-index: 3;
  position: relative;
  vertical-align: middle;
}

th a[href]::after,
td a[href]::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--data-table-link-width, 100%);
  height: 100%;
  z-index: 1;
}

th a[href]:hover::after,
th a[href]:focus::after,
td a[href]:hover::after,
td a[href]:focus::after {
  outline:
    0.5em solid lightgreen;
}

tbody tr:hover,
tbody tr:focus-within {
  background: darkslategrey;
}

tr.loading:hover,
tr.loading:focus-within {
  background: initial;
}

tr.loading::after {
  all: unset;
}